main .form h1{
    text-align: center;
    margin-bottom: 40px;
}

main .form .form-group{
    margin-bottom: 20px;
}

main .form .form-group label{
    margin-bottom: 7px;
}

main .form .form-group input[type=file]{
    display: block;
}

textarea{
    height: 110px;
    resize: none;
    margin: 0px;
}

.btn-outline-success{
    margin: 50px auto 0px;
    display: block;
}
