<main>
    <div class="form-group">
        <label 
        *ngIf="itemNameNotFound; else nameError"
        for="name">პროდუქტის სახელი</label>
        <ng-template #nameError>
            <label class="error">პროდუქტის სახელი არასწორია</label>
        </ng-template>
        <input
        [ngClass]="{'red':itemNameStatus}" 
        [(ngModel)]="itemName"
        type="text" class="form-control" id="name">
    </div>

    <button
    (click)="render()"
    type="button" class="btn btn-outline-primary">მოძებნა</button>

    <section
    *ngIf="itemInfoAreaStatus"
    class="card-area">
        <app-card
        *ngIf="!loading; else loadingBlock"
        (changeitemInfoAreaStatus)="changeitemInfoAreaStatusFunc($event)"
        [cardItem]="deleteRequestItemInfo"
        [id]="deleteId"
        ></app-card>

        <ng-template #loadingBlock>
            <div class="img">
                <img src="../../../assets/svg/Spin-1s-200px.svg" alt="">
            </div>
        </ng-template>
    </section>


    
</main>