section{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    margin-bottom: 7px;
}

.error{
    color: red;
}

button{
    display: block;
    margin: 30px auto;
}

.red{
    border: 1px solid red;
}

.img{
    width: 200px;
    height: 200px;
}