<app-header
*ngIf="title"
></app-header>

<router-outlet
*ngIf="title"
></router-outlet>

<section
*ngIf="!title"
class="login">

    <p
    *ngIf="adminError"
    >ელ.ფოსტა ან პაროლი არასწორია</p>
    <div class="form-group">
        <label 
        for="name">ელ. ფოსტა</label>
        <input 
        [(ngModel)]="loginEmail"
        type="text" class="form-control" id="name">
    </div>

    <div class="form-group">
        <label 
        for="password">პაროლი</label>
        <input 
        [(ngModel)]="loginPassword"
        type="password" class="form-control" id="password">
    </div>

    <button
    (click)="check()"
    type="button" class="btn btn-outline-dark">შესვლა</button>

</section>