label{
    margin-bottom: 7px;
    display: block;
}

button{
    display: block;
    margin: 30px auto;
}

.red{
    border: 1px solid red;
}

.button-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.img{
    margin: 100px auto;
    width: 200px;
    height: 200px;
}

.error{
    color: red;
}