label{
    margin-bottom: 7px;
}

button{
    display: block;
    margin: 30px auto;
}

.red{
    border: 1px solid red;
}

.button-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}