.card{
    max-width: 225px;
    margin-bottom: 30px;
    border: none;
    overflow: hidden;
}

.card .card-img{
    width: 225px;
    height: 225px;
    overflow: hidden;
}

.card img{
    transition: all 0.3s;
}

.card:hover img{
    transform: scale(1.2);
}

.card .card-text{
    padding: 20px 0px;
    text-align: center;
}

.card .card-text p{
    margin-bottom: 2px;
}

.card .card-text .price{
    font-size: 14px;
    color: rgb(112, 108, 108);;
}